/**
 * CSS - TOPBAR
 */
.hd__cart {
  background-color: #424242;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}

.hd__cart a {
  display: inline-block;
  color: #b0b0b0;
  padding: 0 15px;
  text-decoration: none;
}

.hd__cart a:hover {
  color: #424242;
  background-color: #fff;
  text-decoration: none;
}

/**
 * CSS - MAINBAR
 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > a.dropdown-item:after {
    float: right;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/** 
 * CSS - BREADCRUMB
 */
#bc__bg {
  background-color: #fff;
}

/**
 * CSS CỦA CART
 */
/* max-width of picture */
#cart__img {
  max-width: 50px;
}

/* max-width of product name column */
.cart__pro-name {
  max-width: 300px;
}

#cart__pro-quantity {
  max-width: 60px;
}

.cart__link {
  color: #bd4f0f;
}

.cart__link:hover {
  text-decoration: none;
  color: #736f6d;
}

/* css - 'xóa' in table in cart*/
.cart__delete {
  color: #000;
}

.cart__delete:hover {
  text-decoration: none;
}

